.u-section-1 .u-sheet-1 {
  min-height: 435px;
}

.u-section-1 .u-list-1 {
  width: 400px;
  margin: 0 345px 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 375px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  width: 190px;
  height: 190px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    margin-right: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    margin-right: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }
}